main{

    background-color: black;
    color: white;
    width: 100%;
    height: auto;

}
.game-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

