.card {
  width: 350px;
  height: 500px;
  background-color: black;
  margin: 10px;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card:hover {
  border: 3px solid white;
  cursor: pointer;
}
