.single-game-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.single-game-image {
  width: 50%;
  object-fit: contain;
}
.single-game-info {
  width: 50%;
  color: white;
  text-align: center;
}

@media (max-width: 765px) {
  .single-game-container {
    flex-direction: row;
  }
  .single-game-info,
  .single-game-image {
    width: 100%;
  }
}
