header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid purple;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 600px;
}
header ul li {
  margin: 5px;
  border: 1px solid red;
}
header img {
  width: 150px;
  height: 150px;
}
#menu-mobile-logo {
  visibility: hidden;
  border: 1px solid white;
}
@media (max-width: 765px) {
  header ul {
    display: none;
  }
  #menu-mobile-logo {
    visibility: visible;
  }
}
