.danger {
  border: 4px solid red;
}
.correct {
  border: 4px solid green;
}

.login-container {
  width: 600px;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}
.login-container h1 {
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.submit {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
}

.submit:hover {
  border: 2px solid black;
}
